<div class="users" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <h1>User</h1>

    <div class="error" v-if="errorMessage !== ''">{{ errorMessage }}</div>

    <p>foo: {{ foo }}</p>
    <p>users: {{ users.length }}</p>

    <table class="users__table" v-if="users.length > 0">
        <thead>
        <tr>
            <th>avatar</th>
            <th class="users__id">id</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>company</th>
            <th>department</th>
            <th>job title</th>
        </tr>
        </thead>
        <tbody>
        <tr v-bind:key="user.id" v-for="user in users">
<!--            <td><img class="users__avatar" :src="user.avatar"/></td>-->
            <td> img </td>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.company }}</td>
            <td>{{ user.department }}</td>
            <td>{{ user.jobTitle }}</td>
        </tr>
        </tbody>
    </table>

</div>
