html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.users {
    &__table {
        border-collapse: collapse;


        th {
            background: #90f9f6;
        }

        th, td {
            border: 1px solid #ccc;
            text-align: left;
            padding: 2px 4px;
            height: 40px;
        }
    }

    &__id {
        text-align: right;
    }

    &__avatar {
        width: 45px;
        height: auto
    }
}
